
.nav-item :hover {
    color: gold !important;
}
.nav-item:focus{
    color:gold !important;
}
body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}
#aboutpage{
    margin-bottom: 150px;
    margin-top: 60px;
}
#skills{
    margin-bottom:200px ;
    margin-top: 180px;
}
